:root {
  --color: #8e44ad;
  --colorDark: #1c1c1c;
  --plomoOscuro: #566573;
  --blanco: #ffffff;
  --amarilloClaro: #f9e79f;
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /**para que el rem sea igual a 10px**/
}
.nav__ul a {
  text-decoration: none;
  vertical-align: middle;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.8;
  color: var(--colorDark);
}

.container {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  line-height: 8rem;
  background-color: var(--blanco);
  z-index: 10;
  position: relative;
  color: var(--colorDark);
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px,
    rgb(0 0 0 / 30%) 0 30px 60px -30px;
}
.container,
.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__nombre {
  font-size: 2em;
  color: var(--color);
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorDark);
  z-index: 9;
  align-items: center;
  display: none;
}

.nav__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.nav__enlace {
  position: relative;
  display: inline-block;
  line-height: 1.5;
  overflow: hidden; /*desbordamiento*/
  font-size: 2em;
  color: var(--blanco);
}

.nav__enlace::before,
.nav__enlace::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.nav__enlace::after {
  height: 0.4rem;
  top: auto;
  bottom: 0;
  background-color: var(--color);
}

.nav__enlace:hover::before {
  transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
}
.nav__enlace:hover::after {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
  .nav {
    display: block;
    position: relative;
    background-color: transparent;
    padding: 0;
  }
  .nav__ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
  }
  .nav__lista {
    display: flex;
    align-items: center;
  }

  .nav__enlace::after {
    height: 0.2rem;
  }
  .nav__enlace {
    color: inherit;
    margin-right: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  .botones .botones__menu {
    display: none;
  }
}

/* Botones */

.botones button {
  position: relative;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1rem;
}

/* busqueda formulario */
.busqueda-form {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  z-index: 9;
  background-color: var(--blanco);
  display: none;
}

.busqueda-form input {
  padding: 0 8rem 0 2rem;
  line-height: inherit;
  height: auto;
  text-align: right;
  border: 0;
  outline: 0;
  font-size: 1.6rem;
}

.busqueda-form :is(form, input) {
  width: 100%;
}

.showbusqueda .busqueda-form,
.showmenu .nav {
  display: flex;
}

.showbusqueda .botones__busqueda,
.showmenu .botones__menu {
  z-index: 10;
}

.showbusqueda .botones__busqueda i::before,
.showmenu .botones__menu i::before {
  content: '\f00d';
}
.showmenu .botones__menu {
  color: var(--blanco);
}
